extends layout
block content
    h1= title

    form(id='kiteForm', action="/resource/kite", method="POST")
        div.form-group
            label.kiteAttr(for='kiteName') kite Name
            input#kiteName(type='text', name='kiteName' ,required)
        div.form-group
            label.kiteAttr(for='kiteCost') kite Cost
            input#kiteCost(type='number', name='kiteCost')
        div.form-group
            label.kiteAttr(for='quantityAvailable')  Quantity Available
            input#quantityAvailable(type='number', name='quantityAvailable',min=0,max=1000)
        input(type="submit")

    script.
        document.forms['kiteForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
        });
        });